/* Add CSS styling here */
.header nav{
    margin-left: 3%;
}
.header nav a{
    text-decoration: none;
}
.part1{
    display:flex;
}
.part1 div img{
    border :20px;
    padding-right:70px;
    padding-top:20px;
    padding-bottom:20px;
    width :570px; 
}
.part12{
   text-align:left;
  font-size: 20px;
}
.part12 a{
    text-decoration: none;
}
.part121{
    border:1px;
    padding-right: 3%;
}
.part2 div img{
    width :320px;
    height:320px;
    border:1px solid black;
}
.part2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    font-family: 'Grenze Gotisch', cursive;
    color:darkcyan;
}
.footer{
    height:120px;
    border : 1px solid lightgrey;
    background-color:lightgrey;
    text-align:center;
}
.footer h3{
    align-content:center;
}
.footer button a{
    text-decoration: none;
    height:30px;
}
.footer2 nav a{
    padding-left:330px;
}
/*From here the media coding starts*/

@media(max-width:800px){
    h1{
        text-align:center;
    }
    .header nav{
        display:flex;
        flex-flow:column wrap;
        align-content:space-around;
        width:15%;
        padding:0 40%;
    }
    .part1{
        flex-direction:column;
    }
}